/* Desktop */
@media only screen and (min-width: 768px) {
    body {
        font-size: 18px; /* Increase font size for larger screens */
    }

    .levi_meni
    {
        padding-top: 10px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        
    }

    .desni_meni
    {
        width: 100%;
        margin-left: 300px;
        
        
    }

    .kontent
    {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-inline: 40px;
    }

    .icon_menu
    {
        display: none;
    }

    .muzicki_plejer
    {
        left: 300px;
    }

    .kontrole_plejera
    {
        margin-right: 98px;
    }

  
.plejer_progres
{
    background-color: var(--bela);
    position: fixed;
    height: 8px;
    left: 300px;
    right: 0;    
    bottom: 0;
    margin-bottom: 65px;
}

.plejer_progres_linija
{
    background-color: var(--ljubicasta);
    height: 8px;
    position:relative;
    width: var(--procenatPlejerTrake);
    
    
    
}

.intervali
{
    position: relative;
    bottom: 28px;
    display: flex;
    justify-content: space-between;
    margin-inline: 2.5px;
    font-size: 12px;
}

.meni_buttons
{
    height: 95%;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.meni_buttons::-webkit-scrollbar {
    width: 0; /* Hide default scrollbar for WebKit browsers */
}




}