/* Mobilni */
@media only screen and (max-width: 480px) {
    body {
        background: var(--pozadinaCrvena);
        background-repeat: no-repeat;
        font-size: 12px;
        height: 200vh; 
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .levi_meni
    {
        box-sizing: border-box;
        width: 100%;
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: fixed;
    }

    .desni_meni
    {
        margin-top: 65px;
        height: 100%;
        
    }

    .kontent
    {
        padding-inline: 15px;
        padding-top: 15px;
    }

    .icon_menu
    {
        font-size: 40px;
    }

   .icon_shuffle, .icon_prevArrow, .icon_skipNext, .icon_laps, .kontrole_zvuka
   {
        display: none;
   }

   .naziv_numere
   {
     font-size: 18px;
   }

   .plejer_progres
{
    background-color: var(--bela);
    position: fixed;
    height: 5px;
    left: 0;
    right: 0;    
    bottom: 0;
    margin-bottom: 65px;
}

.plejer_progres_linija
{
    background-color: var(--ljubicasta);
    height: 8px;
    position:relative;
    width: var(--procenatPlejerTrake);
    
    
    
}

.intervali
{
    position: relative;
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    margin-inline: 4px;
    font-size: 10px;
}

    .meni_buttons
    {
        background-color: var(--crna);
        width: 100%;
        max-height: 72.4vh;
        position: fixed;
        left: 0;
        right: 0;
        top: 65px;
        padding-bottom: 10px;
        overflow:scroll;
    }

}





